/* FOOTER TO BOTTOM
---------------------------------------- */
html,
body {
  height: 100%;
}

body {
  #root {
    height: 100%;
    display: flex;
    flex-direction: column;

    .app-content {
      flex: 1 0 auto;
      overflow: hidden;
    }

    footer {
      flex-shrink: 0;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}
